.nav__container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 17px;
  /* background-color: #007bff; */
}

.nav__container button {
  padding: 10px;
  cursor: pointer;
  width: 50px;
  border-radius: 5px;

  &:hover {
    background-color: #007bff;
  }

  &:focus {
    outline: none;
    background-color: #007bff;
  }
}
